/*■■■■■■■■■■■■■■■■■■■■■■ Variables */
$blue-1: #008aa6;
$blue-2: #1d4ed8;
$yellow-1: #eab308;
$orange-1: #ea580c;
$green-1: #28a745;

$gray-10: rgba(#000, 0.1);
$gray-20: rgba(#000, 0.2);
$gray-40: rgba(#000, 0.4);
$gray-60: rgba(#000, 0.6);

/*■■■■■■■■■■■■■■■■■■■■■■ Elements */
@mixin btn($clr) {
   border: 2px solid $clr;
   color: $clr;
   padding: 5px 0;
   display: block;
   border-radius: 5px;
   font-size: 0.8rem;
   text-align: center;
}

%btn-add {
   display: block;
   background: rgba($blue-2, 0.8);
   color: #fff;
   font-size: 0.9rem;
   font-weight: bold;
   padding: 10px 0;
   border-radius: 5px;
   text-align: center;
   margin-bottom: 15px;
   &:hover {
      background: $blue-2;
   }
}

%box {
   padding: 15px;
   background: #fff;
   box-shadow: 2px 2px 4px $gray-20;
   border-radius: 8px;
}

%item {
   display: grid;
   align-items: center;
   grid-gap: 15px;
   padding: 5px 0;
   border-bottom: 1px solid $gray-10;
}

%card-head {
   font-weight: bold;
   border-bottom: 1px solid $gray-20;
   padding: 0 0 10px;
   margin-bottom: 15px;
}

/*■■■■■■■■■■■■■■■■■■■■■■  */
/*■■■■■■■■■■■■■■■■■■■■■■  */
/*■■■■■■■■■■■■■■■■■■■■■■  */
