{%extends 'base.html' %}
<!-- . -->
{% block title %}Dashboard{% endblock %}
<!-- . -->
{% block main %}
<section class="status">
   <div class="box">
      <p class="head">Total Orders</p>
      <p>{{ orders|length }}</p>
   </div>
   <div class="box">
      <p class="head">Orders Delivered</p>
      <p>{{ delivOrd|length }}</p>
   </div>
   <div class="box">
      <p class="head">Orders Pending</p>
      <p>{{ pendingOrd|length }}</p>
   </div>
</section>
<section class="dash">
   <article class="table">
      <h3>Customers:</h3>
      <div class="box">
         <a href="" class="btnAdd">Create Customer</a>
         <ul class="lst-cust">
            <li>
               <p>View</p>
               <p>Customer</p>
               <p>Orders</p>
            </li>
            {% for customer in customers %}
            <li>
               <a href="{% url 'crm:customer' customer.id %}" class="btnView"
                  >View</a
               >
               <p>{{ customer.name }}</p>
               <p>{{ customer.orders.all|length }}</p>
            </li>
            {% endfor %}
         </ul>
      </div>
   </article>
   <article class="table">
      <h3>Last 5 Orders</h3>
      <div class="box">
         <a href="" class="btnAdd">Create Order</a>
         <ul class="lst-ord">
            <li>
               <p>Product</p>
               <p>Date Ordered</p>
               <p>Status</p>
               <p>Update</p>
               <p>Remove</p>
            </li>
            {% for order in orders %}
            <li>
               <p>{{ order.product.name }}</p>
               <p>{{ order.date_create|date:'Y-M-d' }}</p>
               <p>{{ order.status }}</p>
               <a href="{% url 'crm:upd_order' order.id %}" class="btnUpd"
                  >Update</a
               >
               <a href="{% url 'crm:del_order' order.id %}" class="btnDel"
                  >Remove</a
               >
            </li>
            {% endfor %}
         </ul>
      </div>
   </article>
</section>
{% endblock %}
