/*■■■■■■■■■■■■■■■■■■■■■■  */
@use "../declarations/" as *;

/*■■■■■■■■■■■■■■■■■■■■■■  */
/*■■■■■■■■■■■■■■■■■■■■■■  */
.status {
   text-align: center;
   padding-bottom: 40px;
   .box {
      width: 200px;
      border-radius: 0 0 8px 8px;
      border: 2px solid rgba($blue-1, 0.4);
      display: inline-block;
      margin-right: 15px;
      &:last-child {
         margin-right: 0;
      }
   }
   .head {
      background: rgba($blue-1, 0.4);
      font-weight: bold;
      color: $blue-2;
   }
   p {
      text-align: center;
      padding: 15px;
   }
}

/*■■■■■■■■■■■■■■■■■■■■■■ Dashboard */
.dash {
   display: grid;
   grid-template-columns: 30% 70%;
   grid-gap: 25px;
   .btnAdd {
      display: block;
      background: rgba($blue-2, 0.8);
      color: #fff;
      font-size: 0.9rem;
      font-weight: bold;
      padding: 10px 0;
      border-radius: 5px;
      text-align: center;
      margin-bottom: 15px;
      &:hover {
         background: $blue-2;
      }
   }
}

/*■■■■■■■■■■■■■■■■■■■■■■  */
.table {
   color: #333;
   h3 {
      @extend %card-head;
   }
   .box {
      @extend %box;
   }
   ul {
      li {
         @extend %item;
         &:first-child {
            font-size: 0.8rem;
            font-weight: bold;
         }
      }
   }
   .btnView {
      @include btn($blue-1);
   }
   .btnUpd {
      @include btn($yellow-1);
   }
   .btnDel {
      @include btn($orange-1);
   }
   .lst-cust {
      li {
         grid-template-columns: 1fr 2fr 1fr;
      }
   }
   .lst-ord {
      li {
         grid-template-columns: 2fr 1fr 1fr 0.6fr 0.6fr;
      }
   }
   .lst-prod {
      li {
         grid-template-columns: 2fr 1fr 1fr;
      }
   }
   .lst-cdet {
      li {
         grid-template-columns: 2fr 1fr 1fr 1fr 0.6fr 0.6fr;
      }
   }
}

/*■■■■■■■■■■■■■■■■■■■■■■  */
.cards {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   padding-bottom: 20px;
   h4 {
      @extend %card-head;
   }
   .card {
      background: #fff;
      border-radius: 8px;
      box-shadow: 2px 2px 3px rgba(#000, 0.2);
      margin: 10px;
      padding: 15px;
      width: 25%;
   }
   .btnU {
      @include btn($green-1);
      margin-bottom: 10px;
   }
   .btnD {
      @include btn($orange-1);
   }
   span {
      width: 60px;
      display: inline-block;
      font-size: 0.8rem;
      font-weight: bold;
      color: #444;
   }
   .card-3 {
      p {
         text-align: center;
         font-weight: bold;
      }
   }
}

/*■■■■■■■■■■■■■■■■■■■■■■  */
/*■■■■■■■■■■■■■■■■■■■■■■  */
/*■■■■■■■■■■■■■■■■■■■■■■  */
