{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="icon" href="{% static 'favicon.ico' %}" />
      <link rel="stylesheet" href="{% static 'css/main.css' %} " />
      <title>{% block title %}{% endblock %} | CRM</title>
   </head>
   <body>
      <header>
         <nav>
            <ul>
               <li>
                  <a href="{% url 'crm:home' %} " class="logo">CRM APP </a>
               </li>
               <li><a href="{% url 'crm:home' %} ">Home</a></li>
               {% if request.user.is_staff %}
               <li><a href="{% url 'crm:dashboard' %} ">Dashboard</a></li>
               <li><a href="{% url 'crm:products' %} ">Products</a></li>
               {% else %}
               <li><a href="{% url 'crm:account' %}">Account</a></li>
               {% endif %}
            </ul>
            <ul>
               {% if user.is_authenticated %}
               <li><a href="" class="no-a">{{ user.username }} </a></li>
               <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
               {% else %}
               <li><a href="{% url 'accounts:login' %}">Login </a></li>
               <li><a href="{% url 'accounts:register' %}">Register</a></li>
               {% endif %}
            </ul>
         </nav>
      </header>
      <div class="msgs">
         {% for msg in messages %}
         <p>{{msg}}</p>
         {% endfor %}
      </div>
      <main>{% block main %} {% endblock %}</main>
   </body>
</html>
